<%- include('partials/header.ejs') %>

    <div id="caixa">
        <div id="contein">
            <% if (posts.length === 0) { %>
                <div id="divEmpty" class="text-center">
                    <img id="imagem" src="./images/empty.jpeg" alt="waiting your post">
                </div>
            <% } else {  %>
                <ul class="p-0 ulStyleNone">
            <%      posts.forEach((post) => { %>
                    <li class="p-4">
                        <a href="/view/<%= posts.indexOf(post) %>"><h3 class="fs-2 pt-serif"><%= post.title %></h3></a>
                        <p class="fs-5 my-4">
                            <%= post.content.substring(0, 100) %>
                            <% if (post.content.length > 100) { %>
                                ... <a href="/view/<%= posts.indexOf(post) %>">read more</a>
                            <% } %>
                        </p>
                        <p class="fs-6 fw-light"><%= post.date %></p>
                    </li>
            <%     });  %>
                </ul>
            <% }  %>
        </div>
        <div id="aside" class="pt-4">
            <% if (posts.length === 0) { %>
                <%  %> 
                </div>
            <% } else {  %>
                <div class="text-center">
                    <p>RECENT POSTS</p>
                    <ul class="p-0">
            <%          posts.forEach((post) => { %>
                        <li class="ulStyleNone">
                            <h3 class="fs-6 pt-serif px-3 py-1 "><a class="liDecorationNone" href="/view/<%= posts.indexOf(post) %>"><%= post.title %></a></h3>
                        </li>
            <%     });  %>
                    </ul>
            <% }  %>
                </div>

        </div>

</div>

<%- include("partials/footer.ejs") %>